<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>

    <meta
      name="description"
      content="Timer to log your home coffee roasting."
    />
    <meta name="author" content="Thomas Bille" />
    <meta
      name="copyright"
      content="&copy; {{ site.time | date: '%Y' }} Toto corp"
    />
    <link rel="alternate" href="https://roast-timer.com" hreflang="en-GB" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Timer to log your home coffee roasting."
    />
    <meta property="og:image" content="{{ site.url }}/assets/timer-logo.png" />
    <meta
      property="og:url"
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@totostache" />
    <meta property="twitter:creator" content="@totostache" />
    <meta
      property="twitter:url"
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <meta
      property="twitter:image"
      content="{{ site.url }}/assets/timer-logo.png"
    />

    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ site.url }}/assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ site.url }}/assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ site.url }}/assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ site.url }}/assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ site.url }}/assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ site.url }}/assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ site.url }}/assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ site.url }}/assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ site.url }}/assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ site.url }}/assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.url }}/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ site.url }}/assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ site.url }}/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <link
      rel="stylesheet"
      href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.21.0.min.css"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-168683396-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-168683396-1");
    </script>

    <style>
      #firstCrack {
        background-color: #69594c;
        color: #ffffff;
      }
      #secondCrack {
        background-color: #685d4f;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu"
            >Coffee Roasting timer</a
          >
          <a
            href="#navigation-closed"
            class="p-navigation__toggle--close"
            title="close menu"
            >Close menu</a
          >
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__items" role="menu">
            <li class="p-navigation__link" role="menuitem">
              <a class="p-navigation__link" href="/">Coffee Roasting timer</a>
            </li>
            <li class="p-navigation__link" role="menuitem">
              <a class="p-navigation__link" href="/about">About</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section>
      {{ content }}
    </section>

    <footer class="p-strip--light">
      <nav class="row">
        <div>
          <p>Made without coffee by toto!</p>
          <p>
            <a href="https://github.com/tbille/roast-timer.com/issues/new"><small>Report a bug on this site</small></a>
          </p>
          <p>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="totostache" data-color="#FFDD00" data-emoji="☕"  data-font="Cookie" data-text="Buy me some beans" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
         </p>
          <span class="u-off-screen"
            ><a href="#">Go to the top of the page</a></span
          >
        </div>
      </nav>
    </footer>
  </body>
</html>
